
           @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,600;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,700&family=Spline+Sans:wght@600&display=swap');
                body {
                    background-color: #FFF;
                    font-family: Semi Bold, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    margin: 0px;
                    padding: 4%;
                    color: #366;
                }
                table {
                    border: 0px solid red;
                    margin: 0px auto 20px auto;
                    table-layout: fixed;
                    width: 1000px;
                    text-align: left;
                } 
                td {
                    padding: 0px 7px;
                    vertical-align: top;
                }
                .corpo {
                    background-image: url(./assets/fundo.jpg);
                    height: 440px;
                }
                .cabecalho td:first-child, .logo {
                    width: 200px;
                    margin-left: 43px;
                }
                .informacoes {
                    padding-left: 310px;
                }
                img {
                    border: 0px;
                    margin: 5px;
                }
                .info {
                    font-weight: bold;
                    font-size: 13px;
                    padding-bottom: 10px;
                }
                .dado {
                    font-size: 13px;
                }
                .assunto {
                    font-size: larger;
                    margin:15px auto auto 93px;
                }
                .realce {
                    color: #007;
                }
                .titulo {
                    margin: 30px auto auto 93px; 
                    font-size: 35px;
                    font-weight: bold;
                    padding-top: 25px;
                }
                .direcionamento div {
                    padding-left: 200px;
                    text-align: center;
                    font-size: larger;
                    margin-bottom: 20px;
                }
                #dep{
                    text-align: left;
                    margin-left: 110px;
                }